html, body, header, nav, h1, h2,
p, ul, li, div, form, label, dl, dt, dd,
input, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
  width: min-content;
}

body {
  background: rgba(0, 0, 0, 0.219);
}

/* header START */
header {
  background-image: linear-gradient(to right, lightblue , lightgreen);
  font-size: 36px;
  font-weight: bold;
  padding: 5px 0;
}
h1 {
  width: fit-content;
  margin: auto;
}
/* header END */

/* nav-bar START */
h2 {
  font-size: 24px;
  text-align: center;
}

.nav-bar {
  padding: 10px 0;
  background: lightskyblue;
  border-bottom: black 4px solid;
}

.controller {
  width: max-content;
  margin: auto;
  font-size: 24px;
}

.controller button {
  font-size: 16px;
  margin-right: 5px;
  border-radius: 5px;
}

.controller button:hover {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.nav-bar span {
  font-weight: bold;
}

.controller-sub {
  display: flex;
  flex-direction: row;
}

.controller-left > *,
.controller-right > * {
  padding: 5px;
  margin: 5px;
  border: 1px rgb(0, 157, 255) solid;
  border-radius: 10px;
}

.build-board > * {
  margin: 2px 0;
}

.build-board dt {
  float: left;
  width: 85px;
}
.build-board dd {
  margin-left: 0;
}

.build-board input{
  width: 50px;
  border-bottom: 1px black solid;
}

.tile-option > * {
  margin: 2px 0;
}

.tile-option > div {
  display: flex;
  flex-direction: row;
}

.tile-option > div > div {
  width: 16px;
  height: 16px;
  margin: auto 5px;
  border: lightgray 1px solid;
}

.tile-option > button > div {
  display: flex;
  flex-direction: row;
}

.tile-option > button > div > div {
  width: 14px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: lightgray 1px solid;
}

.maze-action > * {
  margin: 2px 0;
}

.maze-action div {
  display: flex;
  flex-direction: row;
}

.maze-action div > button {
  margin: 2px 5px;
  background: rgb(238, 144, 144);
}

.maze-action .all-direction {
  background: lightgreen;
}

.maze-action dt {
  float: left;
  margin: 2.5px 0;
  width: 20px;
  height: 20px;
  border: lightgray 1px solid;
}

.maze-action dd {
  margin: auto 0;
}
/* nav-bar END */

/* maze START */
.maze {
  padding: 10px;
}

.board {
  margin: auto;
  border: lightgray 1px solid;
  max-width: 100%;
  overflow-x: scroll;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  box-sizing: border-box;
  min-width: 50px;
  height: 50px;
  border: lightgray 1px solid;
  cursor: pointer;
}

.blank { 
  background: white;
}

.wall {
  background: gray;
}

.possible {
  /* background: darkorange; */
}

.used {
  background: yellow;
}

.solution {
  background: green;
}

.start {
  background: lightgreen;
}

.end {
  background: lightpink;
}
/* maze END */

/* CASE MAX-WIDTH < 600px */
@media (max-width: 600px) {
  .controller-sub {
    display: flex;
    flex-direction: column;
  }
}