html, body, header, nav, h1, h2,
p, ul, li, div, form, label, 
input, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
  width: min-content;
}

/* header START */
header {
  background-image: linear-gradient(to right, lightblue , lightgreen);
  font-size: 36px;
  font-weight: bold;
}
h1 {
  width: fit-content;
  margin: auto;
  
}
/* header END */

/* nav-bar START */
h2 {
  font-size: 24px;
}

.controller {
  width: max-content;
  margin: auto;
}
.nav-bar span{
  font-weight: bold;
}

.build-board label{
  display: flex;
  flex-direction: row;
}

.build-board p {
  margin-right: 5px;
}

.build-board label p{
  width: 55px;
}

.build-board input{
  width: 50px;
}
/* nav-bar END */

.middleline {
  margin: 10px 0;
  border: black 1px solid;
}
/* maze START */
.board {
  margin: auto;
  border: lightgray 1px solid;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: lightgray 1px solid;
  cursor: pointer;
}

.possible {
  background: yellow;
}

.used {
  background: darkorange;
}

.wall {
  background: gray;
}