html, body, header, nav, h1, h2,
p, ul, li, div, form, label, 
input, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
  width: min-content;
}

/* header START */
header {
  background-image: linear-gradient(to right, lightblue , lightgreen);
  font-size: 36px;
  font-weight: bold;
  padding: 5px 0;
}
h1 {
  width: fit-content;
  margin: auto;
}
/* header END */

/* nav-bar START */
h2 {
  font-size: 24px;
}

.nav-bar {
  margin: 10px 0;
}

.controller {
  width: max-content;
  margin: auto;
  font-size: 24px;
}

.controller button {
  font-size: 16px;
  margin-right: 5px;
  border-radius: 5px;
}

.controller button:hover {
  background: black;
  color: white;
}

.nav-bar span {
  font-weight: bold;
}

.controller > * {
  margin: 5px 0;
}

.build-board label {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
}

.build-board p {
  margin-right: 5px;
}

.build-board label p{
  width: 85px;
}

.build-board input{
  width: 50px;
  border-bottom: 1px black solid;
}

.controller > .tile-option > button > div {
  display: flex;
  flex-direction: row;
}

.controller > .tile-option > button > div > div {
  width: 14px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: lightgray 1px solid;
}

/* nav-bar END */

.middleline {
  margin: 10px 0;
  border: black 1px solid;
}
/* maze START */
.maze {
  margin: 10px 0;
}

.board {
  margin: auto;
  border: lightgray 1px solid;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: lightgray 1px solid;
  cursor: pointer;
}

.blank { 
  background: white;
}

.wall {
  background: gray;
}

.possible {
  background: yellow;
}

.used {
  background: darkorange;
}

.start {
  background: lightgreen;
}

.end {
  background: lightpink;
}
